<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <form class="text-center" style="color: #757575;" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
            <div>
                <label >Username</label>
                <input type="text"  name="uname"  required>
            </div>
            <div>
                <label >Password</label>
                <input type="text"  name="pwd"  required>
            </div>
            <div>
                <button type="submit">Log in</button>
            </div>
        </form>
       
</body>
</html>